@model IEnumerable<BankaAPI.Models.Odemeler>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MusteriNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuncelOdemeTutari)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuncelBorcTutari)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SonOdemeTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GecikmisBorcTutari)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OdenmisBorcTutari)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MusteriNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuncelOdemeTutari)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuncelBorcTutari)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SonOdemeTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GecikmisBorcTutari)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OdenmisBorcTutari)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OdemeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OdemeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OdemeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
